.MessageFrame {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.MessageFrame .Message {
    background: white;
    padding: 8px;
    border-radius: 5px;
    box-shadow: 0 0 4px #00000036;
    margin: 0;
}

.MessageFrame .Message p {
    margin: 0;
}
